project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/backend/src/main/resources/application.conf
/log
/backend/log
/build
node_modules
benerator.log
seed.sql
npm-debug.log