@import "~@blueprintjs/core/dist/variables"

.sidebar
  flex: 1 1 auto
  display: flex
  flex-direction: column
  background: $dark-gray2
  height: 100vh
  overflow-y: auto
  width: 160px
  overflow-x: hidden
  color: $light-gray1

  transition: width 1s ease-in-out

  &.sidebar-collapsed
    width: 50px
    // Fade all the text out and slide it to the righ at the same time
    .nav-text
      transition: opacity .5s, margin-left .5s ease-in
      margin-left: 40px
      opacity: 0
    // don't slide the logo nav text
    .sidebar-logo .nav-text
      margin-left: 0
    // Space out the nav items more
    .sidebar-item
      transition: line-height .5s ease-in-out .5s
      line-height: $pt-line-height * 3
    // reduce the gap between the icons and the logo where the site name used to be
    .sidebar-logo
      transition: margin-bottom .5s ease-in-out .5s
      margin-bottom: 0

  // Expand down to the toggle button
  .sidebar-items
    flex: 1 1 auto

  .nav-text
    transition: opacity .5s .5s, margin-left .5s .5s ease-out
    margin-left: 0
    opacity: 1

  a
    color: $light-gray1
    transition: color .4s

    .pt-icon
      font-size: 120%
      margin-right: 10px
      margin-left: 15px

    &:hover
      text-decoration: none
      color: lighten($blue5, 10%)

    &.sidebar-item-active
      color: $blue5

  .sidebar-item
    transition: line-height .5s ease-in-out
    line-height: $pt-line-height * 1.6
    width: 200px
    font-size: $pt-font-size-large
    overflow: hidden

  .sidebar-logo
    text-align: center
    transition: margin-bottom .5s ease-in-out
    margin-bottom: 30px

    img
      height: 32px
      margin-left: auto
      margin-right: auto
      margin-top: 16px

    .nav-text
      font-size: 120%

  .sidebar-toggle
    text-align: center
    font-size: $pt-font-size-large
    padding-bottom: 15px
    padding-top: 15px
    cursor: pointer

    &:hover
      background: $dark-gray3